.spoiler {
  color: #BBB;
  background-color: #BBB;
}

.spoiler:hover {
  color: black;
}

section {
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}

pre {
  white-space: pre-line;
}

hr {
  width: 10%;
}

blockquote {
  color: #789922;
  margin: 0px 0px;
  /* padding: 0.5em 10px; */
}

blockquote p {
  display: inline;
}

blockquote p::before {
  content: "> "
}
